<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>React App</title>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <meta name="theme-color" content="#fafafa" />
    </head>
    <body>
        <!--[if IE]>
            <p class="browserupgrade">
                You are using an <strong>outdated</strong> browser. Please
                <a href="https://browsehappy.com/">upgrade your browser</a> to
                improve your experience and security.
            </p>
        <![endif]-->

        <noscript>JavaScript must be enabled to run this app</noscript>

        <div id="root"></div>
        <% /* %>
        <!-- Dependencies -->
        <% if (webpackConfig.mode == 'production') { %>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.3/cjs/react.production.min.js"
            integrity="sha256-Jf4J6+/vvb2U2qFWQSnxqWDDVshVUf2GKEeMIR/QaFA="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.3/cjs/react-dom.production.min.js"
            integrity="sha256-5DtfvXvUR4jp/Gz4bDCYrSeaxMc2F20ItBVMUKr4MnI="
            crossorigin="anonymous"
        ></script>
        <% } else { %>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.3/cjs/react.development.js"
            integrity="sha256-9m6yiEMKnKKsCnEBh2DfaXUFkGeDSQDNczThYnpJaKA="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.3/cjs/react-dom.development.js"
            integrity="sha256-+0E6duIN9ETJpDFFBVMg245foPZRbK9vB+4FMOmtK7U="
            crossorigin="anonymous"
        ></script>
        <% } %> <% */ %>
    </body>
</html>
